
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 20px;
  vertical-align: top;
}


.profile {
  width: 30%;
  text-align: center;
  background-color: #e0ecf8;
}

.profilepic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 5px;
}


.btn {
  display: inline-block;
  background-color: #335c7f;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #233d5b;
transform: scale(1.2);
}


section {
  background-color: #f6f9fc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h2, h3 {
  color: #335c7f;
  margin-bottom: 10px;
}


#contactform {
  display: flex;
 text-align:center;
}



#contactform button {
  background-color: #335c7f;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  
}

#contactform button:hover {
  background-color: #233d5b;
  transform: scale(1.2);
}
